body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

header {
    padding: 10px;
    background: linear-gradient(135deg, #f00 0%, #006400 100%);
    color: white;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    height: auto;
    z-index: 1000;
    font-size: 1.3em;
}

@media (width <= 768px) {
      header {
        position: relative;
      }
      
      #tracker-container {
        position: relative;
        width: 100%;
        top: 0;
      }
      
      #map {
        margin-left: 0;
      }}

main {
    display: flex;
    height: 100vh;
}

#tracker-container {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgb(0 0 0 / 10%);
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
    z-index: 1000;
}

#map {
    flex: 1;
    height: 100vh;
    margin-left: 300px;
}

#tracker-info {
    padding: 15px;
}

#delivery-status {
    color: #f00;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    background-color: rgb(255 0 0 / 10%);
    border-radius: 5px;
    font-size: 1.6em;
}

h1, h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

#countdown, #location-countdown {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

#current-location, #next-stop {
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}