name: Run all tests

on: 
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

permissions:
    contents: read
    pull-requests: write
    checks: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Set up Python 3.12
          uses: actions/setup-python@v4
          with:
            python-version: "3.12"

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Test with pytest
          run: |
            pytest --cov=src --cov-report=xml --cov-report=term-missing || [ $? -eq 5 ]
